/* Navbar */
body{
    /* background-color: #efefef; */
    background-image: url('../assets/background_home.jpg');
}
input {
  border: 2px solid #ccc;
  border-radius: 4px;
}
a:link, a:visited {
  color: (internal value);
  text-decoration: underline;
  cursor: pointer;
}

a:link:active, a:visited:active {
  color: (internal value);
}
h1, div, li {
  font-family: 'Prompt', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4158d0;
  }

  li {
    float: right;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
.NavHeaderName{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.NavName{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .buttonLogout{
      margin: 2px;
  }
/* Navbar */

.container-login {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  /* background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0); */
  background-image: url('../assets/background.jpg');
}
.wrap-login {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5% 10% 5% 10%;
}
.head_wel {
  display: block;
  padding: 16px 5% 0% 5%;
}
.wrap-wel {
  width: auto;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5% 10% 2% 10%;
}
.container-header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.btn_container {
  width: 100%;
  padding: 2% 2% 2% 2%;
}
.left {
  left: auto;
  /* text-align: right; */
}
.right {
  right: auto;
  /* text-align: left; */
}